@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=News+Cycle&amp;display=swap');

.cmsContent{position:relative;color:#666666;}
.cmsContent div.left{float:left;}
.cmsContent div.right{float:right;}
.cmsContent div{box-sizing:border-box;-moz-box-sizing:border-box;}
.cmsContent h1{color:red;font-size:18px;font-weight:bold;margin:0;padding:0;margin-bottom:10px;}
.cmsContent h2{color:red;font-size:14px;font-weight:bold;margin:0;padding:0;margin-bottom:10px;}
.cmsContent h3 {font-size:20px;line-height:22px;color:red;font-weight:normal;margin:0px;}
.cmsContent h4 {font-size:14px;font-weight:bold;color:#666666;margin:5px;}
.cmsContent h5 {font-size:16px;font-weight:bold;color:red;margin:5px;}
.cmsContent p{margin:0;padding:0;margin-bottom:10px;color:#666666;line-height:15px;font-size:14px;line-height:20px;color:#333333;}
.cmsContent table{margin:0;padding:0;margin-bottom:10px;color:#333333;font-size:13px;line-height:15px;}
.cmsContent table tr{line-height:0px;}
.cmsContent table tr td{line-height:12px;}
.cmsContent table tr,
.cmsContent table tr td{padding:0;margin:0;}
.cmsContent p a,
.cmsContent a{color:red !important;text-decoration:none;font-size:14px;}
.cmsContent p a:hover,
.cmsContent a:hover{color:red !important;text-decoration:none;}
.cmsContent a,
.cmsContent ul a,
.cmsContent table a{font-size:14px;}
.cmsContent ul{padding:0;margin:0;list-style-type: none;margin-bottom:10px;padding-left:15px;}
.cmsContent ul li{line-height:30px;font-size:14px;padding:0;margin:0;list-style-type: none;}

.cmsContent div.boxwithborder,
.cmsContent div.boxwithoutborder{margin:0;padding:0;padding:10px;width:100%;height: auto;float:none;}
.cmsContent div.boxwithborder{border: 1px solid #e7e7e7;}

.cmsContent .buttonred{-moz-box-shadow: 0px 10px 14px -7px #919191;-webkit-box-shadow: 0px 10px 14px -7px #919191;box-shadow: 0px 10px 14px -7px #919191;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffa8a8), color-stop(1, #ff0101));background:-moz-linear-gradient(top, #ffa8a8 5%, #ff0101 100%);background:-webkit-linear-gradient(top, #ffa8a8 5%, #ff0101 100%);background:-o-linear-gradient(top, #ffa8a8 5%, #ff0101 100%);background:-ms-linear-gradient(top, #ffa8a8 5%, #ff0101 100%);background:linear-gradient(to bottom, #ffa8a8 5%, #ff0101 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8a8', endColorstr='#ff0101',GradientType=0);background-color:#ffa8a8;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #ff7070;display:inline-block;cursor:pointer;color:#ffffff;font-family:Verdana;font-size:18px;padding:10px auto;width:185px;text-align:center;text-decoration:none;letter-spacing: 2px;margin:10px;height:46px;display:block;float:left;padding-top:3px;box-sizing:border-box;}
.cmsContent .buttonred.middle{line-height:46px;padding-top:0;}
.cmsContent .buttonred.center{float:none;margin:10px;margin-left:115px;}
.cmsContent .buttonred:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0101), color-stop(1, #ffa8a8));background:-moz-linear-gradient(top, #ff0101 5%, #ffa8a8 100%);background:-webkit-linear-gradient(top, #ff0101 5%, #ffa8a8 100%);background:-o-linear-gradient(top, #ff0101 5%, #ffa8a8 100%);background:-ms-linear-gradient(top, #ff0101 5%, #ffa8a8 100%);background:linear-gradient(to bottom, #ff0101 5%, #ffa8a8 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0101', endColorstr='#ffa8a8',GradientType=0);background-color:#ff0101;}
.cmsContent #links img:hover{opacity:0.5;}

.emcmsproduct_box2 {width: 445px !important;height: 300px !important;}
.emcmsproduct_box2 .right{width: 175px !important;background-color:#FFFFFF !important;}
.emcmsproduct_box2 .left{width: calc(100% - 175px) !important;height: 300px !important;border-right:none !important;}
.emcmsproduct_box2 .right .tobasketFunction button{min-width:135px !important;}
#numbered-list ol {font-size:14px;font-weight:bold;color:#999999;margin:10px;padding:0;padding-left:30px;}
#numbered-list ol li a {font-size:14px;color:#666666 !important;margin-bottom:10px;font-weight:normal;text-decoration:none;}
#numbered-list ol li a:hover {color:red !important;}
#numbered-list ol li {margin-bottom:5px;padding:0;}
#numbered-list ol li span {font-size:14px;font-weight:normal;color:#333333;}
#list {font-size:14px;font-weight:bold;color:#999999;padding-left:50px;}
#list li{padding:0;line-height:20px;list-style-type: disc;}
#list li span {font-size:14px;font-weight:normal;color:#333333;line-height:20px;}

hr {border-bottom-color:#e7e7e7;border-bottom:1px;}

.footnote {font-size:11px;color:#666666;}

.shadow-border {height:100%;background-image:url(../pictures/wysiwigpro/new/shadow-border.png);background-size:10px 90%;background-repeat:no-repeat;background-position:right center;width:10px;}

#special-quote {font-style:italic;color:#666666;}

/* INSTITUTIONAL BANNER */
#cms-banner {width:100%;height:100px;border:1px;border-style:solid;border-color:#e7e7e7;background: #e7e7e7; /* Old browsers */background: -moz-linear-gradient(top,#e7e7e7 0%, #ffffff 65%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(65%,#ffffff)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* Opera 11.10+ */background: -ms-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* IE10+ */background: linear-gradient(to bottom,#e7e7e7 0%,#ffffff 65%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#fondo-banner {background-image:url(../pictures/wysiwigpro/new/fondo-banner.png);background-repeat:no-repeat;height:100px;float:left;}
/* end */

/* WARANTIES AND CERTIFICATIONS*/

#garantias {margin:auto; border:1px; border-color:#999999; border-style:solid;}#garantias tr.gris {background-color:#e7e7e7;}
#garantias td {border-right-color:#999999;border-right-width:1px;border-right-style:solid;padding:10px;}
#garantias td.head {font-weight:bold;font-size:14px;line-height:16px;background-color:#999999;color:#FFFFFF;}
#garantias .left {border:none;}
#certificaciones td {padding:10px;border-bottom-style:solid;border-bottom-color:#e7e7e7;border-bottom-width:1px;}
#certificaciones .header{line-height:20px;color:red;font-weight:bold;font-size:14px;}
img.certif-marca {height:45px;}
.boximages {border:1px;border-color:#e7e7e7;border-style:solid;}
.boxtext {padding:10px;background-color:#e7e7e7;}
/* end */

/* Guias de compra */
.description-box {float:left;padding-left:20px;border-width:1px;border-left-style:solid;border-left-color:#e7e7e7;margin-bottom:40px;width:80%;}
.description-box-no-border {float:left;padding-left:20px;margin-bottom:40px;width:80%;}
.sub-topic {width: 15%;float: left;text-align: right;padding-right:20px;margin-bottom:40px;}
.sub-topic-border {width: 15%;float: left;text-align: right;padding-right:20px;margin-bottom:40px;border-width:1px;border-right-style:solid;border-right-color:#e7e7e7;}
.sub-title {float:left;width:15%;margin-top:10px;margin-right:10px;text-align:right;}
.sub-text {float:left;width:80%;height:100%;padding-left:20px;margin-bottom:20px;background-image:url(../pictures/wysiwigpro/new/shadow-border.png);background-size:10px 100%;background-repeat:no-repeat;background-position:left center;}
#container {width:100%;margin:auto;clear:both;}
.left-image {float:left;margin-right:20px;clear:none;}
.right-image {float:right;margin-left:20px;clear:none;}
#guias-banner {width:100%;height:150px;font-size:24px;line-height:28px;padding:0px;border:1px;border-style:solid;border-color:#e7e7e7;}
.half-banner {width:50%;height:150px;clear:none;margin:0px;float:left;background-position:center top;background-repeat:no-repeat;color:#fff;}#regresar-guias{float: right;font-size:16px;line-height:20px;font-weight:bold;color:red;background-position:0px 0px;background-repeat:no-repeat;margin-left: 20px;margin-bottom: 20px;margin-top: 20px;width:300px;text-align: right;}
#regresar-guias:hover {background-position: left -20px;}/* end */

#tab {width:220px;float:left;margin-right:20px;margin-bottom:20px;margin-top:10px;}
#tab-header {height:65px;padding:10px;border:1px;border-bottom:0px;border-style:solid;border-color:#e7e7e7;background: #e7e7e7; /* Old browsers */background: -moz-linear-gradient(top,#e7e7e7 0%, #ffffff 65%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(65%,#ffffff)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* Opera 11.10+ */background: -ms-linear-gradient(top,#e7e7e7 0%,#ffffff 65%); /* IE10+ */background: linear-gradient(to bottom,#e7e7e7 0%,#ffffff 65%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
#tab-text{color:#666666;font-size:12px;line-height:14px;clear:both;padding:10px;text-align:center;}
.cmsContent .cmsContentSidebarMenu{padding:0;}.cmsContentSidebarMenu ul{padding-left:0px;}.cmsContentSidebarMenu ul li a{padding-left:20px;}.cmsContentSidebarMenu ul ul li a{padding-left:30px;}.cmsContentSidebarMenu li{padding:0;margin:0;line-height:20px;}.cmsContentSidebarMenu li a{border-bottom: 3px solid white;color: #666666 !important;display: block;margin-top:3px;padding-left:10px;}.cmsContentSidebarMenu li a:hover{color:red !important;border-bottom: 3px solid red;}

.cmsAccordion{}
.cmsAccordion > h4{background:none;}.cmsAccordion > h4 span{display:none;}.cmsAccordion.ui-accordion .ui-accordion-icons{padding-left:0;}.cmsAccordion > h4.ui-state-hover{background:none;color:red;}.cmsAccordion > h4.ui-accordion-header-active{color:red;}.cmsAccordion > div{background:none;}
/* LANDING PAGES CSS */
span.nvidia_48 {text-align:center; font-weight:bold; font-size:16px; margin:10px; color:#000;}
span.nvidia_48:hover{color: #466a06;text-shadow: rgb(206, 255, 121) 0px 0px 5px, rgb(206, 255, 121) 0px 0px 10px, rgb(206, 255, 121) 0px 0px 15px, rgb(206, 255, 121) 0px 0px 20px, rgb(206, 255, 121) 0px 0px 30px, rgb(206, 255, 121) 0px 0px 40px, rgb(206, 255, 121) 0px 0px 50px, rgb(206, 255, 121) 0px 0px 45px;}
.nvidia-envio-gratis{margin:15px;}
.samsung-promo-menu:hover{background-color:#EEE;}
span.enlace:hover {text-shadow: 0px 1px 2px #333333;}
p.green_link {color:#11ff00;}
.green_link:hover{background-color: rgb(0, 0, 0);text-shadow: rgb(208, 254, 185) 0px 0px 5px, rgb(208, 254, 185) 0px 0px 10px, rgb(208, 254, 185) 0px 0px 15px, rgb(17, 255, 0) 0px 0px 20px, rgb(17, 255, 0) 0px 0px 30px, rgb(17, 255, 0) 0px 0px 40px, rgb(17, 255, 0) 0px 0px 30px, rgb(17, 255, 0) 0px 0px 45px;color: #000000;}
.green {margin:10px;padding-bottom:8px;border-bottom:4px solid #FFF;}
.green:hover {border-bottom:4px solid #11ff00;}
.nvidia-hover:hover {box-shadow: 0px 0px 14px #11FF00; -webkit-box-shadow: 0px 0px 14px #11FF00; -moz-box-shadow: 0px 0px 14px #11FF00;}
.link_transparency:hover{opacity:0.5; -webkit-transition-duration: 0.5s;transition-duration: 0.5s}
.link_boxshadow:hover {box-shadow: 0px 2px 8px #666;-webkit-box-shadow: 0px 2px 8px #666;-moz-box-shadow: 0px 2px 8px #666;}
.hpbutton1:hover {background-image:url(../pictures/wysiwigpro/promos-semanales/2015/semana-hp/button-bg-1.png);background-position:center top;background-repeat:no-repeat;}
.hpbutton2:hover {background-image:url(../pictures/wysiwigpro/promos-semanales/2015/semana-hp/button-bg-2.png);background-position:center top;background-repeat:no-repeat;}
.gaming{opacity:0.5;}
.gaming:hover{opacity:1.0;}
.glow:hover{box-shadow: inset 0px 0px 45px 0px #4baa2b;-webkit-box-shadow: inset 0px 0px 45px 0px #4baa2b;-moz-box-shadow: inset 0px 0px 45px 0px #4baa2b;-o-box-shadow: inset 0px 0px 45px 0px #4baa2b;}
.redglow:hover {box-shadow: 0px 0px 22px #f71620;-webkit-box-shadow: 0px 0px 22px #f71620;-moz-box-shadow: 0px 0px 22px #f71620;}
.apple-button {display:block; width:160px; border-radius:4px; border:1px solid #999; margin:auto;}
.apple-button:hover {border:1px solid #000;}
.yellow-line{border-bottom:6px solid #000;}
.yellow-line:hover{border-bottom:6px solid #ffea00;}
.glow-green:hover{box-shadow: inset 0px 0px 45px 0px #4baa2b;-webkit-box-shadow: inset 0px 0px 45px 0px #4baa2b;-moz-box-shadow: inset 0px 0px 45px 0px #4baa2b;-o-box-shadow: inset 0px 0px 45px 0px #4baa2b;}
.dell_link{color:#000;}
.dell_link:hover{color:#0087ce;}
.bg_effect:hover{background: radial-gradient(center, ellipse cover, #FFFFFF 35%, #E1EECC 100%);background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 35%, #E1EECC 100%);background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 35%, #E1EECC 100%);background: -o-radial-gradient(center, ellipse cover, #FFFFFF 35%, #E1EECC 100%);}
.hotsale-category{background-color:#d9272e;}
.hotsale-category:hover{background-color:#000;}
.envios-hotsale{background-color:#999;}
.envios-hotsale:hover{background-color:rgba(250,255,255, 0.5);}
.aniversario-category{background-color:#00519b;}
.aniversario-category:hover{background-color:#8ad6ff;}
.envios-aniversario{background-color:#8ad6ff;}
.envios-aniversario:hover{background-color:rgba(250,255,255, 0.5);}
.botonx:hover{ box-shadow:0px 10px 10px rgba(0,0,0,0.5);}
.botonx2:hover{ box-shadow:0px 5px 10px rgba(0,0,0,0.5);}
.boton-linea{ border:3px solid rgba(255,255,255,0.25);}
.boton-linea:hover{ border:3px solid #FFF; -webkit-transition-duration: 0.5s;transition-duration: 0.5s;}
.botonprebuenfin{ padding:10px; border-radius:25px; background-color:#000000; color:#FFFFFF; font-weight:bold;}
.botonprebuenfin:hover{ padding:10px; border-radius:25px; background-color:#FF0000; color:#FFFFFF; font-weight:bold; -webkit-transition-duration: 0.5s;transition-duration: 0.5s}
.botonbuenfin2{ padding:10px; border-radius:25px; background-color:#000000; color:#FFFFFF;}
.botonbuenfin2:hover{ background-color:#FF0000; -webkit-transition-duration: 0.5s;transition-duration: 0.5s}
.prebuenfin-cat{ background-color:#000000;}
.prebuenfin-cat:hover{ background-color:#FF0000; -webkit-transition-duration: 0.5s;transition-duration: 0.5s}
.cyberofertas-cat{ background-color:#000000;}
.cyberofertas-cat:hover{ background-color:#007eff; -webkit-transition-duration: 0.5s;transition-duration: 0.5s}
.minibanners2:hover{ box-shadow:0px 0px 10px rgba(0,0,0,0.4);}
.imglogo{ filter: grayscale(100%);}
.imglogo:hover{ filter: grayscale(0%);}
.hvr-float-shadow {display:block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;}
.hvr-float-shadow:before {pointer-events: none;position: absolute;z-index: -1;content: '';top: 100%;left: 5%;height: 10px;width: 90%;opacity: 0;background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);/* W3C */-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform, opacity;transition-property: transform, opacity;}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
/* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
opacity: 1;
-webkit-transform: translateY(5px);
transform: translateY(5px);
/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

@-webkit-keyframes hvr-hang {
0% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}

50% {
-webkit-transform: translateY(4px);
transform: translateY(4px);
}

100% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}
}

@keyframes hvr-hang {
0% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}

50% {
-webkit-transform: translateY(4px);
transform: translateY(4px);
}

100% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}
}

@-webkit-keyframes hvr-hang-sink {
100% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}
}

@keyframes hvr-hang-sink {
100% {
-webkit-transform: translateY(8px);
transform: translateY(8px);
}
}

.hvr-hang {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {-webkit-animation-name: hvr-hang-sink, hvr-hang;animation-name: hvr-hang-sink, hvr-hang;-webkit-animation-duration: .3s, 1.5s;animation-duration: .3s, 1.5s;-webkit-animation-delay: 0s, .3s;animation-delay: 0s, .3s;-webkit-animation-timing-function: ease-out, ease-in-out;animation-timing-function: ease-out, ease-in-out;-webkit-animation-iteration-count: 1, infinite;animation-iteration-count: 1, infinite;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;-webkit-animation-direction: normal, alternate;animation-direction: normal, alternate;}
.hvr-rotate {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {-webkit-transform: rotate(4deg);transform: rotate(4deg);}
.wrapper {position: relative;overflow: hidden;width: 100%;height:80px;}
#slide4 {position: absolute;left: -100%;width: 100%;max-width:943px;height: 66px;-webkit-animation: slide4 5s forwards;-webkit-animation-delay: 0s;animation: slide4 5s forwards;animation-delay: 0s;}

@-webkit-keyframes slide4 {
100% { left: 0; }
}

@keyframes slide4 {
100% { left: 15%; }
}

.hvr-sweep-to-bottomx {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;font-family: 'Roboto Condensed', Arial, sans-serif;color:#FFFFFF; border-radius:5px; background-color:#000;padding:5px; border:3px solid #FFF; text-decoration:none; line-height:20px;}
.hvr-sweep-to-bottomx:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background-color:#FF0004; color:#FFF; border:3px solid #ff0004;-webkit-transform: scaleY(0);transform: scaleY(0);-webkit-transform-origin: 50% 0;transform-origin: 50% 0;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-durvation: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-sweep-to-bottomx:hover, .hvr-sweep-to-bottomx:focus, .hvr-sweep-to-bottomx:active {color:#FF0004;}
.hvr-sweep-to-bottomx:hover:before, .hvr-sweep-to-bottomx:focus:before, .hvr-sweep-to-bottomx:active:before {-webkit-transform: scaleY(1);transform: scaleY(1);}
.hvr-float {vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {-webkit-transform: translateY(-8px);transform: translateY(-8px);}
.fake-class-5-remove{color: red;}
a.ccs-gs-result-item-add-to-cart,a.ccs-gs-start-over {color: #FFF !important;}
a.ccs-gs-result-item-add-to-cart:hover,a.ccs-gs-start-over:hover {color: #FFF !important;}
#homeoffice20 p {color: red;}
#test20 p {color: yellow;}
#buenfin20 p {color: blue;}