.card_eq_contect .price{
	display: flex;
	height: auto;
}

.card_eq_contect{
	margin-top: 25px;
	height: auto;
    width: 100%;
    max-width: 330px;
}
.p_cont{
	height: auto;
}
.card_eq_contect .price{
	background: #c00000;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	min-height: 20px;
	border-radius: 11px 11px 0px 0px;


	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.24);
	
	
}
.p_c_1, .p_c_2{
	float: left;
	color: white;
	padding-top: 10px;
	font-weight: bold;

}
.p_c_1{
	width: 60%;
	text-align: center;
	font-size: 19px;
}
.p_c_2{
  width: 40%;
  text-align: end;
    padding-right: 3px;
    font-size: 12px;
}
.p_mod{
	border-radius: 9px 9px 0px 0px;
    min-height: 20px;
    background: #595959;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 15px 4px 8px 4px;
}
.card_eq_body{
	min-height: 100px;
	
	background: white;
	border-radius: 0px 0px 11px 11px;
}
.eq_c_1,.eq_c_2{
	padding: 10px;
	height: 415px;
}
.dll_clicks{
	width: 100%;
	justify-content: space-between;
    display: flex;
}
.dll_clicks button,.btn_i_red{
	background: #c00000;
    color: white;
    min-width: 68px;
    min-height: 23px;
    border-radius: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn_i_grey{
	background: grey;
    color: white;
    min-width: 68px;
    min-height: 23px;
    border-radius: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}
.img_modelo{
	height: 300px;
}
.impresoras button{
    border: 0;
} 
.eq_t_mc button{
	width: 20px;
	height: 20px;
}
.eq_t_mc{
	font-weight: bold;
	font-style:italic;
}
.eq_c_2{
	display: none;
}
.footer_eq{
	height: 40px;
	text-align: center;
}

.cinta_espe{
	    /* background: #c00000; */
    height: 25px;
    width: 168px;
    position: absolute;
    margin-left: 198px;
    transform: rotate(316deg);
    margin-top: -55px;
    border-right: 29px solid transparent;
    border-left: 30px solid transparent;
    border-top: 29px solid #c00000;
}
.cinta_espe0{
	height: 25px;
    width: 169px;
    position: absolute;
    margin-left: 213px;
    transform: rotate(316deg);
    margin-top: -65px;
    overflow: hidden;
    color: white;
}
.cinta_espe2{
	height: 25px;
    width: 178px;
    position: absolute;
    margin-left: 198px;
    /*transform: rotate(316deg);*/
    margin-top: 0px;

    animation: moveText 5s linear infinite;
    white-space: nowrap;

    color: white;
    font-weight: bold;
}
@keyframes moveText {
    0% {
        transform: translateX(-3%);
    }
    100% {
        transform: translateX(-210%);
    }
}

.card_eq_contect .cotiza{
	background: #c00000;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 41px;
    border-radius: 0px 0px 11px 11px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.24);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 7px;	
}
.btn_i_red2{
	background: #c00000;
    color: white;
    min-width: 68px;
    min-height: 23px;
    border-radius: 13px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 4px 4px 4px 4px;
}
.impresoras{
    float: left;
    width: 335px;
    margin: 0px 11px 0px 11px;
}