.col1,.col2,.col3{float: left;}
        /*.col1{width: 20%;}*/
        .col2{width: 20%;}
        .col3{width: 80%;}
        table{width: 100%;max-width: 300px;margin-bottom: 57px;}
        .option_ct img{height: 37px;max-width: 44px;}
        .option_ct{color: black;}
        .c_red{color: red;}
        p{margin: 0;font-size: 13px;}
        
        .option_ct.selected{
        	background: #ddd;
        }

        .form-check-input {
        	display: none; /* Oculta el checkbox original */
    	}
    	
	    .option_ct{
	    	max-width: 277px;
	    	margin-left: 5px;
	    	margin-right: 5px;
	    }
	    #table_equipos td{
	    	max-width: 300px;
	    }
	    label{
	    	padding: 0px;
	    	padding-left: 0px !important;
    		padding-right: 0px !important;
    		width: 100%;
	    }
	    .div_motivo{
	    	display: none;
	    }
	    .f-s-12{
	    	font-size: 12px;
	    }
	    .f-s-11{
	    	font-size: 11px;
	    }
	    .f-s-10{
	    	font-size: 10px;
	    }
	    .option_ct{
	    	padding-right: 8px;
	    	margin-top: 5px;
	    }
	    .ocultaa{
	    	display: none;
	    }
	    .btb-search,.btb-search_content{
	    	background: red;
		    color: white;
		    position: fixed;
		    top: 0px;
		    width: 30px;
		    height: 30px;
		    right: 0;
		    border-radius: 0px 0px 0px 41px;
		    text-align: center;
	    }
	    .btb-search_content{
	    	z-index: 10;
	    }
	    #search_input{
	    	display: none;
	    	left: 0;
    position: fixed;
	    }
	    .dataTables_filter,.dataTables_paginate{
	    	display: none;
	    }
	    #table_equipos_wrapper{
	    	margin-bottom: 57px;
	    }
	    #table_equipos td{
	    	margin: 0px;
	    	padding: 0px;
	    }