.header_popup a{text-decoration: none;}
.header_popup a:hover {border-bottom: 3px solid red; color: red; font-weight: 700;}
.clientelogueo{background: #ddd;padding: 24px;border-radius: 10px;text-align: center;}