#page {padding-bottom: 75px;    }
#footer{position: fixed;height: 57px;box-shadow: inset 0 3px 3px #e7e7e7;z-index: 1; background: white;}
body {font-family: 'Helvetica', 'Arial', sans-serif !important; font-size: 14px}
.basketButton2 {position: absolute;right: 0;}
.card_montos{background-color: #e7e7e7;text-align: right;}
.iconremove{cursor: pointer;background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%);width: 15px !important;height: 15px !important;}
.embuttonamount_border {position: relative;}
.embuttonamount_amount{margin-left: 23px;}
.embuttonamount_border .embuttonamount_amount {left: 20px;    width: 25px;    border-left: 0;    border-right: 0;}
.embuttonamount_border .embuttonamount_amount input {border: 0;margin: 0;padding: 0;width: 25px;height: 26px;line-height: 30px;color: black;font-weight: normal;font-size: 14px;text-align: center;}
.basketitems .embuttonamount_border {margin-left: 25px;margin-bottom: 15px;height: 30px;    width: 99px;}
.embuttonamount_border .embuttonamount_minus {left: 0px;}
.embuttonamount_border .embuttonamount_plus {left: 45px;}
.embuttonamount_border .embuttonamount_minus, .embuttonamount_border .embuttonamount_plus, .embuttonamount_border .embuttonamount_refresh, .embuttonamount_border .embuttonamount_refreshcancel, .embuttonamount_border .embuttonamount_amount {position: absolute;left: 0px;width: 23px;height: 30px;line-height: 30px;vertical-align: middle;border: 0;font-weight: bold;cursor: pointer;z-index: 1;text-align: center;background-color: white;border: 1px solid #adadad;box-sizing: border-box; -moz-box-sizing: border-box;display: block;color: #adadad;font-size: 14px;padding: 0;border-radius: 0;}
.bannerarea .slick-arrow{display: none !important;}
.listiteminfogrid:hover{box-shadow: rgb(200, 200, 200) 0px 0px 10px 0px inset;}
#tablepro td:hover{box-shadow: rgb(200, 200, 200) 0px 0px 10px 0px inset;}
.submitButton{color: white;}
.submitButton:hover{color:red;}

.dropbtn {border: 1px solid red;background-color: white;  color: red;  padding: 4px;  font-size: 16px;  border-radius: 5px;  margin-left: 5px;}
.dropdown {position: relative;display: inline-block;}
.dropdown-content {display: none;position: absolute;background-color: white;min-width: 170px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; border: 1px solid #ddd; margin-left: 5px; padding: 5px;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: red; color:white}

.info_contact{text-align: center;}
.info_contact p{margin-bottom: 1px;}
.a_tel{color: red !important;}
.a_mail{color:blue !important;}
.p_grey{color: grey;}
.not_error_login{  border: 1px solid red;  color: red;  padding: 5px;  text-align: center;}

.not_sucess_login{  border: 1px solid #55c90f;  color: #55c90f;  padding: 5px;  text-align: center;}

.d-hotline.h-btn.d-hotline-text:not(.h-open) {align-items: center;display: flex;}
.d-hotline.h-btn.d-hotline-text {border-radius: 24px 4px 16px 24px;height: 32px !important;padding: 0 10px;width: unset !important;}

.d-hotline.eager-load {animation: none !important;}
.d-hotline.h-btn {align-items: center;border-radius: 34px 8px 34px 34px;bottom: 63px;box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);color: #fff;cursor: pointer;display: flex;justify-content: center;position: fixed;right: 5px;z-index: 9995;height: 60px;width: 60px;}
.d-hotline {background-color: #ff0000 !important;color: white !important;border-color: transparent #ff0000 transparent transparent;}


.animated {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.zoomIn {-webkit-animation-name: zoomIn;animation-name: zoomIn;}
.d-hotline.h-btn.d-hotline-text #chat-text {display: flex;font-size: 14px;line-height: 20px;white-space: nowrap;font-weight: bold;color: white !important;}
.d-hotline.h-btn.d-hotline-text #chat-text i{font-size: 19px;  margin-right: 7px;}
.d-hotline.h-btn.d-hotline-text #chat-text .help-icon {margin-right: 5px;}

.d-hotline.h-btn.d-hotline-text #chat-what {display: flex;font-size: 14px;line-height: 20px;white-space: nowrap;font-weight: bold;color: white !important;}
#chat-what{align-items: center;    bottom: 47px;    display: flex;    justify-content: center;    position: fixed;    right: 93px;    z-index: 9995;    height: 60px;    width: 60px;}
#chat-what a{  width: 50px;  height: 50px;}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.chat_info{
	display: none;
}
.chat_info.active{
	display: block;
}
.chat_info{
	width: 330px;
    height: 580px;
    position: fixed;
    bottom: 12px;
    background: #f2f2f2;
    z-index: 9995;
    right: 24px;
    border-radius: 10px;
}
.chat_info .cabezera{
	width: 100%;
	height: 120px;
	background: red;
	border-radius: 10px;
}
.logos{
	width: 50%;
    height: 100px;
    float: left;

}
.cabezera_info{
	width: 90%;
    height: 50px;
    background: white;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 89px;
    position: absolute;
    border-radius: 5px;
    padding: 8px;
}
.shadowx{
	-webkit-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
-moz-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
}
.chat_body{
	background: white;
    width: 90%;
    height: 397px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;

}
.chat_footer{
	margin-top: 7px;
    font-size: 11px;
    text-align: center;

}
.ct_close{
	position: absolute;
    right: 8px;
    top: 2px;
    font-size: 15px;
    cursor: pointer;
}
.chat_body_if{
	width: 100%;
  min-height: 396px
}

.option_ct{
	width: 95%;
    height: 50px;
    background: white;
    /*margin-left: 5%;
    margin-right: auto;*/
    margin-top: 10px;
    /* position: absolute; */
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    color:red;
    display: block;
        margin-left: auto;
    margin-right: auto;
    /*font-size: 12px;*/
    font-size: 17px;

    padding-right: 40px;
}
.min-height{
	min-height: 50px;
}
.row{
	width: 100%;
}
.input_form_ct{
	/*width: 97%;*/
	/*border-radius: 5px;*/
	/*border: 1px solid #ddd;*/
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 0px;
	/*margin-top: 10px;
	margin-right: 5%;
	margin-left: 5%;*/
	height: 39px;
}
.input_form_ct::placeholder{
	color: grey;
	font-size: 12px;
}
.input_form_ct_group{
	margin-top: 5px;
	    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.input-group-prepend.icon_ct{
	width: 43px;

	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.row_fixed{
    background: white;
    position: fixed;
    bottom: 0px;
    min-height: 46px;
    text-align: center;
}
.row_fixed_date{
    background: white;
    position: fixed;
    bottom: 46px;
    min-height: 68px;
    text-align: center;
    display: none;
}
.row_fixed a{
  width: 100%;
  font-size: 12px;
}
#table_equipos.margin-add{
  margin-bottom: 115px !important;
}

.row_fixed_notificacion{
    background: white;
    position: fixed;
    bottom: 1px;
    min-height: 305px;
    text-align: center;
    display: none;
    z-index: 2;
    text-align: center;
}
.chat_select{
  text-align: center;
}
.row_fixed_notificacion .loading ,.chat_select .loading{
  margin-top: 10px;
  width: 35%;
}
.row_fixed_notificacion .success{
  width: 50%;
}
.m_per_t{
  background: red;
  padding: 8px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  color: white;
}
.m_per{
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;

  border: 1px solid #dddddd;
  border-radius: 5px 5px 5px 5px;

  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.m_per_body{
  padding: 8px;
  min-height: 170px;
 
}
.n_cli{
  /*padding: 8;*/
  border: 1px solid #dddddd;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

}
@media (min-width: 768px) {
    .casillas .col-md-3 {
        width: 29%;
    }
}
.m_per_body table{
  font-size: 12px;
}
.table_s td{
  padding: .2rem .2rem !important;
}
.searchparam_in_1{

}
.searchparam_in_2{
  color: grey;
  font-size: 12px;
}
.footer_ant{
  padding-bottom: 46px;
}
.footer_ant a{
  text-decoration: none;
}
.col_span{
  background: red;
  border-radius: 13px;
  padding: 3px;
  width: 100%;
  max-width: 260px;
  /*position: absolute; */
  height: 26px;
  margin-bottom: 10px;
}
.icon_s,.icon_text{
  float: left;
}
.icon_s{
  width: 15%;
  padding-left: 4px;
}
.icon_text{
    width: 85%;
    text-align: end;
    padding-right: 4px;
    color: white;
}
.col_span a:hover{
  color: #ddd;
}
.footerbox7 a{
  text-decoration: none;
}
.aaviso{
    font-size: 19px;
    margin-left: 10px;
    font-weight: bold;
  text-decoration: none;
}
.img_footer img{
  width: 100%;
  max-width: 297px;
}
.img_footer{
  text-align: center;
}
.p_f_alta{
  font-size: 12px;
  font-weight: bold;
}
/*-----------------Estilos en el menu------------*/
#cp-main-menu-btn{
  border-radius: 5px;
  height: 40px;
  margin-bottom: -11px;
  background-color: darkgrey;
}
#cp-main-menu-btn .title{
  font-weight: bold;
  color: black;
}
.main-menu .menu{
  border-radius: 5px;
  background-color: #d7d7d7;
  padding-left: 10px !important;
  margin-bottom: 11px !important;

  padding: 4px 0 4px 3px !important;
    font-size: 12px !important;
/*
  -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.33);
  box-shadow: 8px 6px 8px -6px rgba(0,0,0,0.33);
*/
  
}
.bshadow{
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.24);
}
.menu-contact{
  width: 100%;
}
.menu-contact .dropbtn{
  width: 95%;
  border: 1px solid #efefef;
}
.main-menu{
  border-radius: 5px;
}
.menus_has:hover {
    color: red;
    background: #d2d2d2;
    /*background: linear-gradient(180deg, #d2d2d2 0, #fff 10%, #fff); */
    border: 1px solid #ddd;
    border-bottom: 0;
    height: 30px;

    background: #ebebeb82;
    border-radius: 13px;
}
#footercontent3 a{
  text-decoration: none;
}
/*-----------------------------------------------*/
.p_menu{
    position: absolute;
    left: 191px;
    bottom: 0;
    width: 964px;
    height: 30px;
    margin: 0;
    padding: 0;
}
.p_menu .p_menu{
    float: right;
}
.p_menu_conte{
  display: inline-block; /* Hace que el div ajuste su ancho al contenido */
  background-color: white;
  padding: 3px;
  border: 1px solid #dedede;
  min-height: 36px;
  border-radius: 16px;
}
.menus_ki{
  float: left;
}
.p_menu_conte{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 696px;

  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.24);
box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.24);
}
.p_menu_conte.class_login {
  width: 927px;
}
.p_menu{
  min-height: 24px;
}
.p_menu_conte a{
  text-decoration: none;
}
/********************************/

.select2-container--default .select2-selection--single {
    border: 1px solid #dedede !important;
    border-radius: 13px !important;

    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.24);
}
.search-form .submitButton{
  border-radius: 15px;
}
.option_ct_a{
  width: 95%;
    background: white;
    /*margin-left: 5%;
    margin-right: auto;*/
    margin-top: 10px;
    /* position: absolute; */
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    /*color:red;*/
    display: block;
        margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding-right: 40px;

}
.option_ct_a img{
  width: 15px;
}
/********************************************************************/
.info_ll{
  width: 100%;
}
.td0{
  background-color: #ebebeb;
  padding-left: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.td0 p{
  margin: 0px;
}
.td1{
  min-width: 16px;
  background-color: black;
  color: white;
  font-size: 60px;
}
.p1{
  font-size: 16px;
  font-weight: bold;
}
.td0 .p2{
  font-size: 12px;
}
.ccol_2{
  text-align:center; margin:auto; padding-top: 16px;
}

/*-------------- NEW FOOTER------------*/
.row_f_1,.rf_c0_1{
  display: flex;
}
.n_footer{
  background: red;
  min-height: 100px;
  padding: 0px;
}
.rf_c_0{
  width: 45%;
}
.rf_c_1{
  width: 10%;
}
.rf_c_2{
  width: 45%;
  background: white;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}
.row_f_2,.rf_c_0,.rf_c_1,.rf_c_2{
  height: 67px;
}
.rf_c_0,.rf_c_1,.rf_c_2{
  float: left;
}
.rf_c_2 p{
  margin: 0px;
}
.rf_c0_0,.rf_c0_1{
  float: left;
  width: 50%;

}
.form_contacto{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

}
.form_contacto input{
  margin-bottom: 5px;
}
.rf_c0_0 h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
  color: white;
}
.submitButton-contact {
    flex: 0 1;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5px;
    padding: 7px 18px;
    text-decoration: none;

    font-weight: 700;
    border: 0;
    border-radius: 15px;
    background: white;
    /*background: linear-gradient(180deg, #ff0000 0, #ff0000); */
    color: red;
    cursor: pointer;
    box-shadow: 0 2px 5px #e7e7e7;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.info_contact_n{
  width: 470px;
  height: 166px;
  margin-left: auto;
    margin-top: 4%;
    margin-bottom: auto;
}
.p_ifc_1
,.p_ifc_2
,.p_ifc_3{
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-right: 167px;
}
.info_contact_n a{
  text-decoration: none;
}
.p_ifc_1{
  margin-top: 27px;
  margin-left: 60px;
}
.p_ifc_2{
  margin-top: 17px;
  margin-left: 49px;
}
.p_ifc_3{
  margin-top: 16px;
  margin-left: 60px;
}
/*-------------------------------------*/