@media only screen and (max-width: 550px){/* solo si es menor o igual a 450px */
    
    #page,#header,#footer .footerborder{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .start_topbox .start_topbox_right{
        width: 100%;
        left: 0;
    }
    #sidebar,#cp-main-menu-btn,.cp-header-search{
        display: none;
    }
    .p_menu{
        left: 0px;
        width:100%;
    }
    .p_menu_conte.class_login{
        width: 100%;
    }
    .p_menu_conte{
        display: flex;
    }
    .bannerarea{
        width: 100%;
        height: auto !important;
    }
    #page .pageborder{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slider{
        margin-left: 1px !important;
        margin-right: 1px !important;
    }
    .slick-slide img {
        width: 100%;
    }
    .ccol_3{
        display: none !important;
    }
    #footer{
        height: 65px;
    }
    .footer_ant .f_title,.col_f_2,.col_f_3{
        text-align: center;
    }
    .py-1{
        width: 50%;
        float: left;
    }
    .col_f_3 .col_span{
        margin-right: auto;
        margin-left: auto;
    }
    .col_f_3{
        margin-bottom: 49px;
    }
    .bannerarea .row{
        margin-left: 1px;
    }
    .bannerarea .col-md-12{
        padding-right: 1px;
        padding-left: 1px;
    }
}
@media only screen and (max-width: 880px){/*movil horizontal*/

}

@media (min-width:576px){/* solo si es igual o mayor */
    .baner_kyo{
        height: 344px;
    }
}
@media (min-width:768px){
    .baner_kyo{
        height: 344px;
    }
}
@media (min-width:992px){
    .baner_kyo{
        height: 344px;
    }
}
@media (min-width:1200px){
    .baner_kyo{
        height: 500px;
    }
}
@media (min-width:1400px){

}