.emslider2{border:0px solid yellow;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;height:300px;}
.emslider2_navi{position:absolute;top:0px;bottom:0px;width:20px;background-color:yellow;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;}
.emslider2_navi.emslider2_prev{left:0px;}
.emslider2_navi.emslider2_next{right:0px;}
.emslider2_navi.emslider2_navi_inactive{opacity:0.4;}
.emslider2_items{position:absolute;left:20px;top:0;bottom:0;right:20px;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;}
.emslider2 .emslider2_items > ul{position:relative;border:0px solid blue;overflow:hidden;margin:0;padding:0;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;background:none;}
.emslider2_items.cp_pdp_thumbnail_slider {display:flex;justify-content: center;}
.emslider2_items > ul > li{position:absolute;top:0;bottom:0;left:0;border:0px solid red;padding:0;margin:0;list-style:none;box-sizing:border-box;-moz-box-sizing:border-box;left:0;}
.emslider2_navi{position:absolute;top:0px;bottom:0px;width:20px;background-color:transparent;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;  text-align:center;line-height:190px;vertical-align:middle; color:red; font-size:16px;background-position:center center;background-repeat:no-repeat;}
/*
.emslider2_navi.emslider2_prev:before
{
content:'\25C0';
}
.emslider2_navi.emslider2_next:before
{
content:'\25B6';
}
*/
.emslider2_navi.emslider2_prev{background-image:url('../img/arrowleft.png');}
.emslider2_navi.emslider2_next{background-image:url('../img/arrowright.png');}
.emslider2_navi.emslider2_navi_inactive{cursor: default;opacity:0;}
