#oxwidget_headercompare{position:relative;}
#oxwidget_headercompare.has:hover,
#oxwidget_headercompare.has.hover{}
#oxwidget_headercompare .oxwidget_headercompare_header{}
#oxwidget_headercompare .oxwidget_headercompare_header_wait{position:absolute;left:0px;top:0px;right:0px;bottom:0px;background-color:white;opacity: 0.5;z-index:1;display:none;background-image:url('../img/ajax-loader2.gif');background-repeat: no-repeat;background-position: center center;}
#oxwidget_headercompare.has:hover .oxwidget_headercompare_header,
#oxwidget_headercompare.has.hover .oxwidget_headercompare_header{}
#oxwidget_headercompare .oxwidget_headercompare_header .oxwidget_headercompare_title1{padding:0;margin:0;width:100px;height:30px;line-height:30px;box-sizing: border-box;padding-left:10px;font-size:14px;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;background-image:url('../img/down-gray-arrow.png');background-repeat:no-repeat;/*background-position: calc(100% - 10px) center;*/background-position: right;color:#999999;width:120px;}
#oxwidget_headercompare.hover .oxwidget_headercompare_header .oxwidget_headercompare_title1{background-image:url('../img/down-blue-arrow.png');color:red;}
#oxwidget_headercompare .oxwidget_headercompare_header .oxwidget_headercompare_title1 a{color:#999999;}
#oxwidget_headercompare .oxwidget_headercompare_header .oxwidget_headercompare_title1 a:hover{text-decoration: none;}
/*
#oxwidget_headercompare .oxwidget_headercompare_header .oxwidget_headercompare_title1 a:after
{
content:' \25BE';
color:#E7E7E7;
font-size:20px;
vertical-align: middle;
}
*/



#oxwidget_headercompare .oxwidget_headercompare_popup{display:none;position:absolute;left:0;top:30px;width:350px;right:auto;box-shadow:1px 3px 2px rgba(0,0,0,0.3);border:1px solid #dddddd;background-color:white; z-index:10;padding:10px;}
/*#oxwidget_headercompare:hover .oxwidget_headercompare_popup,*/
#oxwidget_headercompare.hover .oxwidget_headercompare_popup{display:block; }

#oxwidget_headercompare .oxwidget_headercompare_popup .fix{height: 375px;margin-bottom: 20px;overflow-x: hidden;overflow-y: scroll;}

#oxwidget_headercompare:hover .oxwidget_headercompare_popup .oxwidget_headercompare_tolist,
#oxwidget_headercompare.hover .oxwidget_headercompare_popup .oxwidget_headercompare_tolist{border:0;padding:0;margin:0;border-radius: 0;border:1px solid white;box-shadow:1px 0px 2px rgba(0,0,0,0.3);height:24px;line-height:20px;text-align: center;vertical-align: middle;color:#333333;background: linear-gradient(to bottom, #ffd24d 0%,#fbb829 100%);cursor:pointer;padding:5px 10px 5px 10px;}
#oxwidget_headercompare:hover .oxwidget_headercompare_popup .oxwidget_headercompare_tolist:hover,
#oxwidget_headercompare.hover .oxwidget_headercompare_popup .oxwidget_headercompare_tolist:hover{text-decoration: none;background: linear-gradient(to bottom, #fbb829 0%,#ffd24d 100%);}
.oxwidget_headercompare_helper{position:absolute;background-color:#EDEDED;box-shadow:1px 0px 2px rgba(0,0,0,0.3);z-index:1000;background-image:url('../img/ajax-loader.gif');background-repeat:no-repeat;background-position: center center;}
.oxwidget_headercompare_popup .normalButton,
.oxwidget_headercompare_popup .normalButton:hover{float:none;margin:auto;width:120px;}
.oxwidget_headercompare_product_border {position:relative;height:110px;box-sizing:border-box;-moz-box-sizing:border-box;margin-bottom:15px;width:340px;overflow:hidden;border:1px solid #e7e7e7;padding:15px;}
.oxwidget_headercompare_product{display:block;position:relative;color:#333333;height:85px;box-sizing:border-box;-moz-box-sizing:border-box;}
.oxwidget_headercompare_product:hover{color:#BDBFC4;text-decoration:none;}
.oxwidget_headercompare_product_border .oxwidget_headercompare_remove{position:absolute;left:0px;top:0px;z-index:2;width:20px;height:20px;}
.oxwidget_headercompare_product_border .oxwidget_headercompare_remove .iconremove{position:absolute;left:0px;right:0px;bottom:0px;top:0px;background: #ffffff;background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);box-shadow: 0px 0px 2px #a0a0a0;color:#343434;text-align:center;font-size:13px;line-height:20px;vertical-align:middle;font-weight:bold;cursor:pointer;}
.oxwidget_headercompare_product .oxwidget_headercompare_product_img{position: absolute;left:0px;top:0px;bottom:auto;height:85px;width:100px;line-height:85px;overflow:hidden;vertical-align: middle;text-align: center;float:left;background-color:white;box-sizing:border-box;-moz-box-sizing:border-box;z-index: 1;}
.oxwidget_headercompare_product .oxwidget_headercompare_product_img_shadow{background-color: #FFFFFF;border: 0 none;border-radius: 60px;bottom: 15%;box-shadow: 0 0 20px rgb(200,200,200);left: 45px;margin: 0;padding: 0;position: absolute;top: 15%;width: 55px;z-index: 0;}
.oxwidget_headercompare_product .oxwidget_headercompare_title{margin-left:110px;font-size:12px;line-height:14px;margin-bottom:10px;}
.oxwidget_headercompare_product .oxwidget_headercompare_artnum{margin-left:110px;color:#969696;font-size:12px;line-height:14px;}
/*
.oxwidget_headercompare_product .oxwidget_headercompare_price
{
margin-left:120px;
text-align:right;
font-weight:bold;
}
*/
.oxwidget_headercompare_product .oxwidget_headercompare_stock{position:absolute;right:auto;bottom:0px;padding:0px;font-size:12px;color:red;z-index: 2;left:110px;line-height: 14px;}
.oxwidget_headercompare_product_border .oxwidget_headercompare_amount{position:absolute;left:0;bottom:0px;padding:3px;font-size:12px;color:red;border-right:1px solid #e7e7e7;border-top:1px solid #e7e7e7;background-color:white;z-index: 2;}
.oxwidget_headercompare_noproduct{text-align:center;padding:10px;}

/*

.oxwidget_headercompare_product
{
display:block;
position:relative;
color:#333333;
}
.oxwidget_headercompare_product:hover
{
color:#BDBFC4;
}
.oxwidget_headercompare_product .oxwidget_headercompare_product_img
{
float:left;
padding:5px;
width:40px;
height:40px;
line-height:40px;
overflow:hidden;
vertical-align: middle;
text-align: center;
float:left;
}
.oxwidget_headercompare_product .oxwidget_headercompare_title
{
margin-left:60px;
font-weight:bold;
line-height:16px;
}
.oxwidget_headercompare_product .oxwidget_headercompare_artnum
{
margin-left:60px;
}
.oxwidget_headercompare_product_border
{
position:relative;
}
.oxwidget_headercompare_product_border .oxwidget_headercompare_remove
{
position:absolute;
left:10px;
bottom:10px;
z-index:1;
width:15px;
height:15px;
}
.oxwidget_headercompare_product_border .oxwidget_headercompare_remove .iconremove
{
position:absolute;
left:0px;
right:0px;
bottom:0px;
top:0px;

border:1px solid white;
box-shadow:1px 0px 2px rgba(0,0,0,0.3);
line-height:12px;
text-align: center;
vertical-align: middle;
color:#333333;
background: linear-gradient(to bottom, #ffd24d 0%,#fbb829 100%);
cursor:pointer;
}

*/

.emproduct_compare {position: absolute;bottom: 5px;}
.emcomparelinkbox div{float:left;}
.emcomparelinkbox div a {color: #333333 !important;text-decoration: none;display:block;line-height: 16px;position:relative;padding-left:20px;font-size: 12px;}
.emcomparelinkbox div a:hover {color: red;}
.emcomparelinkbox_link_remove .square{width:13px;height:13px;display:block;cursor:pointer;float:left;line-height:12px;vertical-align: middle;border:1px solid red;background-color:red;margin-right:5px;position:absolute;left:0;}
.emcomparelinkbox_link_add .square{width:13px;height:13px;background-color:white;display:block;border:1px solid #999999;cursor:pointer;float:left;line-height:12px;vertical-align: middle;margin-right:5px;position:absolute;left:0;}
.emcomparelinkbox_link_remove {width: 20px;padding-left: 0 !important;margin: 0 !important;}
.emcomparelinkbox div a.emcomparelinkbox_link_txt {padding-left: 5px;}
.emcomparelinkbox_link_ctn {display: flex;}