#oxwidget_headernotice{position:relative;}
/*#oxwidget_headernotice.has:hover,*/
#oxwidget_headernotice.has.hover{}
#oxwidget_headernotice .oxwidget_headernotice_header{}
#oxwidget_headernotice .oxwidget_headernotice_header_wait{position:absolute;left:0px;top:0px;right:0px;bottom:0px;background-color:white;opacity: 0.5;z-index:1;display:none;background-image:url('../img/ajax-loader2.gif');background-repeat: no-repeat;background-position: center center;}
/*#oxwidget_headernotice.has:hover .oxwidget_headernotice_header,*/
#oxwidget_headernotice.has.hover .oxwidget_headernotice_header{}
#oxwidget_headernotice .oxwidget_headernotice_header .oxwidget_headernotice_title1{padding:0;margin:0;width:120px;height:30px;line-height:30px;box-sizing: border-box;padding-left:10px;font-size:14px;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;background-image:url('../img/down-gray-arrow.png');background-repeat:no-repeat;background-position: calc(100% - 14px) center;color:#999999;}
#oxwidget_headernotice.hover .oxwidget_headernotice_header .oxwidget_headernotice_title1{background-image:url('../img/down-blue-arrow.png');color:red;}
#oxwidget_headernotice .oxwidget_headernotice_header .oxwidget_headernotice_title1 a{color:#999999;white-space:nowrap;}
#oxwidget_headernotice .oxwidget_headernotice_header .oxwidget_headernotice_title1 a:hover{text-decoration: none;}
/*
#oxwidget_headernotice .oxwidget_headernotice_header .oxwidget_headernotice_title1 a:after
{
content:' \25BE';
color:#E7E7E7;
font-size:20px;
vertical-align: middle;
}
*/


#oxwidget_headernotice.has .oxwidget_headernotice_popup{display:none;position:absolute;left:0px;top:30px;right:auto;box-shadow:1px 3px 2px rgba(0,0,0,0.3);background-color:white; border:1px solid #dddddd;z-index:10;width:450px;}
/*#oxwidget_headernotice.has:hover .oxwidget_headernotice_popup,*/
#oxwidget_headernotice.has.hover .oxwidget_headernotice_popup{display:block; }
/*#oxwidget_headernotice.has:hover .oxwidget_headernotice_popup .oxwidget_headernotice_tolist,*/
#oxwidget_headernotice.has.hover .oxwidget_headernotice_popup .oxwidget_headernotice_tolist{border:0;padding:0;margin:0;border-radius: 0;border:1px solid white;box-shadow:1px 0px 2px rgba(0,0,0,0.3);height:24px;line-height:20px;text-align: center;vertical-align: middle;color:#333333;background: linear-gradient(to bottom, #ffd24d 0%,#fbb829 100%);cursor:pointer;padding:5px 10px 5px 10px;}
/*#oxwidget_headernotice.has:hover .oxwidget_headernotice_popup .oxwidget_headernotice_tolist:hover,*/
#oxwidget_headernotice.has.hover .oxwidget_headernotice_popup .oxwidget_headernotice_tolist:hover{text-decoration: none;background: linear-gradient(to bottom, #fbb829 0%,#ffd24d 100%);}
.oxwidget_headernotice_helper{position:absolute;background-color:#EDEDED;box-shadow:1px 0px 2px rgba(0,0,0,0.3);z-index:1000;background-image:url('../img/ajax-loader.gif');background-repeat:no-repeat;background-position: center center;}
.oxwidget_headernotice_noproduct{text-align:center;padding:20px;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul{margin:0;padding:0;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li{list-style:none;margin: 0 0 5px 5px;vertical-align:middle;padding: 0 15px 3px 20px;cursor:pointer;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li.standard{background-repeat:no-repeat;background-position:left 4px;background-image: url('../img/standard.png');}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li .titlefav {position: relative;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li .titlefav a{color:#666666;font-size: 14px;display: block;width: 100%;font-weight: normal;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li .titlefav .arrow{position:absolute;right: -8px;top:0;color:#e7e7e7;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li.selected .titlefav .arrow:before {color: red;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li .artcount{color:#999999;font-size:10px;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li.selected,
#oxwidget_headernotice .oxwidget_headernotice_popup ul li:hover{border-bottom:3px solid red;padding-bottom:0;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li.selected .titlefav .arrow,
#oxwidget_headernotice .oxwidget_headernotice_popup ul li:hover .titlefav .arrow{color:red;display:block;}
#oxwidget_headernotice .oxwidget_headernotice_popup ul li.selected .titlefav a,
#oxwidget_headernotice .oxwidget_headernotice_popup ul li:hover .titlefav a{font-weight:bold;color:red;font-size: 14px;width: 100%;display: block;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_listsbox{width:200px;background-color:white;margin-right:30px;position:absolute;left:1px;top:1px;padding-bottom: 20px;padding-top:20px;padding-left:10px;padding-right:10px;z-index:2;box-sizing:border-box;-moz-box-sizing:border-box;padding-left:0px;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_listsbox_shadow{background-color: #FFFFFF;border: 0 none;border-radius: 60px;bottom: 10%;box-shadow: 0 0 20px rgb(200,200,200);left: 140px;margin: 0;padding: 0;position: absolute;top: 10%;width: 60px;z-index: 0;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_products{width:200px;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_products .normalButton{float:none;display:block;margin:auto;width:130px;margin-top:10px;margin-bottom:10px;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_products > div{position: absolute;left:220px;top:0;padding-bottom: 20px;padding-top:20px;padding-left:10px;padding-right:10px;width:200px;}
#oxwidget_headernotice .oxwidget_headernotice_popup .oxwidget_headernotice_products div.emsmoothhoverhelper{position:absolute;bottom:0px;}
.oxwidget_headernotice_product{display:block;position:relative;color:#333333;}
.oxwidget_headernotice_product .oxwidget_headernotice_product_img{padding:5px;width:40px;height:40px;line-height:40px;overflow:hidden;vertical-align: middle;text-align: center;}
.oxwidget_headernotice_product_border{position:relative;float:left;margin-right:16px;margin-bottom:10px;}
.oxwidget_headernotice_product_delete{display:none;}
.oxwidget_headernotice_product_border:hover .oxwidget_headernotice_product_delete{background: linear-gradient(to bottom, #FFFFFF 0%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);box-shadow: 0 0 2px #A0A0A0;color: #343434;cursor: pointer;font-size: 10px;font-weight: bold;height: 13px;left: 0;line-height: 13px;position: absolute;text-align: center;top: 0;vertical-align: middle;width: 13px;z-index: 1;display:block;text-decoration:none;cursor:pointer;}
.oxwidget_headernotice_product_border:hover .oxwidget_headernotice_product_delete:hover{color: #343434;text-decoration:none;}
.emnoticelinkbox{}
.emnoticelinkbox div{float:left;}
.emnoticelinkbox div a,
.emnoticelinkbox div a:hover{color:#333333 !important;}