
#oxwidget_headerminibasket
{
    position:relative;
    height:100%;
    border-left:1px solid white;
    border-right:1px solid white;
}
#oxwidget_headerminibasket.has:hover,
#oxwidget_headerminibasket.has.hover
{
    border-left:1px solid #E7E7E7;
    border-right:1px solid #E7E7E7;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header
{
    display:block;
    margin-left:10px;
    margin-right:10px;
    width:90px;
    height:100%;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .count
{
    position:absolute;
    left:36px;
    top:6px;
    border:0;
    padding:0;
    margin:0;
    height:30px;
    line-height:30px;
    width:30px;
    text-align: center;
    vertical-align: middle;
    color:white;
    background-color:#0066CA;
    cursor:pointer;
    padding:0;
    border-radius: 15px;
    font-weight:bold;
    display:none;
    font-size:14px;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_header .count
{
    background-color:#0066CA;
    display:block;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .icon
{
    position:absolute;
    left:0px;
    top:0px;
    background-image:url('../img/oxwidget_headerminibasket_cart.png');
    background-repeat: no-repeat;
    background-position:  center 24px;
    width:auto;
    height:60px;
    right:0px;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .total
{
    display:block;
    position:absolute;
    left:0px;
    right:0px;
    top:63px;
    height:20px;
    font-size:15px;
    font-weight:bold;
    color:#666666;
    text-align: center;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_header .total
{
    color:#0066CA;
}
#oxwidget_headerminibasket.has.hover .oxwidget_headerminibasket_header,
#oxwidget_headerminibasket.has:hover .oxwidget_headerminibasket_header
{
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .oxwidget_headerminibasket_title1
{
    line-height: 18px;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .oxwidget_headerminibasket_title1 a
{
    color:#333333;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_header .oxwidget_headerminibasket_title1 a:hover
{
    color:#BDBFC4;
}


#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_connect
{
    position:absolute;
    right:0;
    background-color:white;
    width:109px;
    height:3px;
    top:-1px;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 8px;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header .oxwidget_headerminibasket_popup_title,
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header .oxwidget_headerminibasket_popup_emptyBtn {
    color:red;
    font-size:14px;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header .oxwidget_headerminibasket_popup_emptyBtn {
    cursor: pointer;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header .oxwidget_headerminibasket_popup_emptyBtn:hover {
    color: red;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_header .oxwidget_headerminibasket_popup_emptyBtn:active {
    color: #FF9900;
}
#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_title .bigtext
{
    font-size:18px;
}

#oxwidget_headerminibasket.has .oxwidget_headerminibasket_popup
{
    display:none;
    position:absolute;
    left:auto;
    top:90px;
    width: 480px;
    right:-1px;
    border:1px solid #E7E7E7;
    background-color:white; 
    z-index:10;
    padding:15px;
}
#oxwidget_headerminibasket.has:hover .oxwidget_headerminibasket_popup,
#oxwidget_headerminibasket.has.hover .oxwidget_headerminibasket_popup
{
    display:block; 
}

#oxwidget_headerminibasket.has:hover .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_tobasket,
#oxwidget_headerminibasket.has.hover .oxwidget_headerminibasket_popup .oxwidget_headerminibasket_tobasket
{
    width: 280px;
    float: right;
}



#oxwidget_headerminibasket .oxwidget_headerminibasket_popup .totals
{
    color: red;
    font-size:20px;
    margin-bottom:15px;
    vertical-align:baseline;
    text-align:right;
    background-color:#e7e7e7;
    padding:10px;
    float:right;
}
#oxwidget_headerminibasket .oxwidget_headerminibasket_popup .totals span
{
    color: #333333;
    font-size:18px;
    margin-bottom:15px;
    vertical-align:baseline;
    
}





.oxwidget_headerminibasket_product
{
    display:block;
    position:relative;
    color:#333333;
    height:85px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.oxwidget_headerminibasket_product:hover
{
    color:#BDBFC4;
    text-decoration:none;
}

.oxwidget_headerminibasket_product_border .oxwidget_headerminibasket_remove
{
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    width:20px;
    height:20px;
}
.oxwidget_headerminibasket_product_border .oxwidget_headerminibasket_remove .iconremove
{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    
background: #ffffff;
background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);
box-shadow: 0px 0px 2px #a0a0a0;
color:#343434;
text-align:center;
font-size:13px;
line-height:20px;
vertical-align:middle;
font-weight:bold;
    cursor:pointer;
    
}

.oxwidget_headerminibasket_product .oxwidget_headerminibasket_product_img
{
    position: absolute;
    left:0px;
    top:0px;
    bottom:auto;
    height:85px;
    width:95px;
    line-height:85px;
    overflow:hidden;
    vertical-align: middle;
    text-align: center;
    float:left;
    background-color:white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    z-index: 1;
}

.oxwidget_headerminibasket_product_img img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.oxwidget_headerminibasket_product .oxwidget_headerminibasket_product_img_shadow
{
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 60px;
    bottom: 15%;
    box-shadow: 0 0 20px rgb(200,200,200);
    left: 35px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    width: 60px;
    z-index: 0;
}
.oxwidget_headerminibasket_product .oxwidget_headerminibasket_title
{
    margin-left:110px;
    font-size:12px;
    line-height:14px;
    margin-bottom:10px;
    min-height: 28px;
}

.oxwidget_headerminibasket_product .basketitem-info {
    margin-left: 110px
}

.oxwidget_headerminibasket_product .basketitem-info table {
    width: 100%;
    border-collapse: collapse;
}

.oxwidget_headerminibasket_product .basketitem-info table tr:not(:last-of-type) td {
    padding-bottom: 5px;
}

.oxwidget_headerminibasket_product .oxwidget_headerminibasket_artnum
{
    color:#969696;
    font-size:12px;
    line-height:14px;
}

.oxwidget_headerminibasket_product .oxwidget_headerminibasket_price
{
    text-align:right;
    font-weight:bold;
}

.oxwidget_headerminibasket_product .oxwidget_headerminibasket_price .oxwidget_headerminibasket_price_gift1
{
    text-align:right;
    color:red;
    text-decoration: line-through;
}
.oxwidget_headerminibasket_product .oxwidget_headerminibasket_price .oxwidget_headerminibasket_price_gift2
{
    background-color: red;
    color:white;
    padding:5px 8px;
}
.oxwidget_headerminibasket_popup .oxwidget_headerminibasket_popup_subtotals_bundle
{
    font-weight:bold;
    color:red;
}


.oxwidget_headerminibasket_product .oxwidget_headerminibasket_stock
{
    font-size:12px;
    color:red;
    line-height: 14px;
    text-align: right;
}
.oxwidget_headerminibasket_product_border .oxwidget_headerminibasket_amount
{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
}


.oxwidget_headerminibasket_product_border
{
    width: 480px;
    overflow:hidden;
    border:1px solid #e7e7e7;
    padding:15px;
    border-bottom-width: 0;
    position: relative;
    height: 110px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 0;
}

.oxwidget_headerminibasket_product_border:last-child
{
    border-bottom-width:1px;
}

.oxwidget_headerminibasket_popup .scrollbar
{
    height: 329px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
}
.oxwidget_headerminibasket_popup .scrollbar .oxwidget_headerminibasket_product_border:first-child
{
    border-top-width:0px;
}
.oxwidget_headerminibasket_popup .scrollbar .oxwidget_headerminibasket_product_border:last-child
{
    border-bottom-width:0px;
}




#oxwidget_headerminibasket_modal_popup
{
    width:635px;
    padding:10px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_title
{
    color:red;
    margin-bottom:10px;
    font-size: 18px;
    border-bottom:1px solid #e7e7e7;
    padding-bottom:5px;
    margin-bottom:10px;
    font-weight:bold;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_desc
{
    font-size:12px;
    margin-bottom:20px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table
{
    width:100%;
    border-top:1px solid #e7e7e7;
    border-right:1px solid #E7E7E7;
    border-left:1px solid #E7E7E7;
    border-spacing:0; 
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr th,
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td
{
    border-bottom:1px solid #e7e7e7;
    padding:5px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr th
{
    color:#999999;
    font-weight:normal;
    font-size:14px;
    text-align:center;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr th.product_header
{
    text-align:left;
    padding-left:60px;
    width:430px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td
{
    vertical-align:top;
    height:90px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.amount_column,
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.total_column
{
text-align:center;
white-space:nowrap;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.total_column
{
    font-weight:bold;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column
{
    position:relative;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.amount_column span
{
    border:1px solid #e7e7e7;
    padding-left:5px;
    padding-right:5px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_img_shadow
{
    background-color: #FFFFFF;
    border: 0 none;
    border-radius: 60px;
    bottom: auto;
    box-shadow: 0 0 20px rgb(200,200,200);
    left: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 60px;
    height:50px;
    z-index: 0;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_img
{
    position:absolute;
    left:0;
    top:0;
    width:120px;
    height:90px;
    background-color:white;
    line-height:90px;
    text-align:center
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_img img
{
    vertical-align:middle;
    height:auto;
    border:0;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_info
{
    margin-left:130px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_title
{
    display:block;
    font-size:14px;
    line-height:18px;
    margin-top:0px;
    margin-bottom:5px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_title:hover
{
    text-decoration:none;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_product_border table tr td.product_column .oxwidget_headerminibasket_modal_product_artnum
{
    color:#999999;
    font-size:12px;
}


#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_summary
{
    float:right;
    height:40px;
    line-height:40px;
    vertical-align: middle;
    background-color:#e7e7e7;
    font-size:16px;
    padding-right:20px;
    padding-left:20px;
    font-weight:bold;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_summary span
{
    color:red;
    font-size:20px;
    vertical-align:baseline;
    font-weight:normal;
}



#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_navi
{
    margin-top:15px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_navi a
{
    float:right;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_navi span
{
    float:left;
    display:block;
    color:red;
    cursor:pointer;
    font-size:12px;
}
#oxwidget_headerminibasket_modal_popup .oxwidget_headerminibasket_modal_navi span:before
{
    content:'\25C0';
    padding-right: 5px;
}