#oxwidget_headerhelp{position:relative;}
#oxwidget_headerhelp:hover,
#oxwidget_headerhelp.hover{}
#oxwidget_headerhelp .oxwidget_headerhelp_header{}
#oxwidget_headerhelp:hover .oxwidget_headerhelp_header,
#oxwidget_headerhelp.hover .oxwidget_headerhelp_header{ }
#oxwidget_headerhelp .oxwidget_headerhelp_header .oxwidget_headerhelp_title1{padding:0;margin:0;width:200px;height:30px;line-height:30px;box-sizing: border-box;padding-left:10px;font-size:14px;cursor:pointer;color:#999999;box-sizing:border-box;-moz-box-sizing:border-box;background-image:url('../img/down-gray-arrow.png');background-repeat:no-repeat;/*background-position: calc(100% - 25px) center;*/background-position: right;}
#oxwidget_headerhelp.hover .oxwidget_headerhelp_header .oxwidget_headerhelp_title1{background-image:url('../img/down-blue-arrow.png');background-position: right;}
#oxwidget_headerhelp:hover .oxwidget_headerhelp_header .oxwidget_headerhelp_title1{color:red;}
/*
#oxwidget_headerhelp .oxwidget_headerhelp_header .oxwidget_headerhelp_title1:after
{
content:' \25BE';
color:#E7E7E7;
font-size:20px;
vertical-align: middle;
}
*/
#oxwidget_headerhelp .oxwidget_headerhelp_popup{display:none;position:absolute;right:0px;left:auto;top:30px;width:210px;box-shadow:1px 3px 2px rgba(0,0,0,0.3);border:1px solid #dddddd;background-color:white; z-index:10;padding:10px;line-height: 16px;}
/*#oxwidget_headerhelp:hover .oxwidget_headerhelp_popup,*/
#oxwidget_headerhelp.hover .oxwidget_headerhelp_popup{display:block;}

#oxwidget_headerhelp .oxwidget_headerhelp_popup ul{margin:0;padding:0;padding-left:10px;margin-right:-10px;margin-bottom:10px;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup ul li{list-style:none;padding:0;margin:0;vertical-align:middle;padding-left:10px;padding-right:10px;padding-bottom:3px;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup ul li:hover{border-bottom:3px solid red;color:red;font-weight:bold;padding-bottom:0;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup ul li a{line-height:25px;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup ul li:hover a{color:red;font-weight:bold;text-decoration:none;white-space: nowrap;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup a.more{display:block;color:red;margin-bottom:10px;text-align:right;font-size:11px;}
#oxwidget_headerhelp .oxwidget_headerhelp_popup a.normalButton{float:none;width:120px;margin:auto;}