
#oxwidget_headerlogin{position:relative;}
#oxwidget_headerlogin:hover,
#oxwidget_headerlogin.hover{}
#oxwidget_headerlogin .oxwidget_headerlogin_header{
/*
padding:0;
margin:0;
width:100px;
height:30px;
line-height:30px;
color:#999999;
box-sizing: border-box;
padding-left:10px;
font-size:14px;
cursor:pointer;
box-sizing:border-box;
-moz-box-sizing:border-box;

background-image:url('../img/down-gray-arrow.png');
background-repeat:no-repeat;
background-position: calc(100% - 10px) center;
*/
}
/*
#oxwidget_headerlogin.hover .oxwidget_headerlogin_header
{
background-image:url('../img/down-blue-arrow.png');
}
*/
#oxwidget_headerlogin .oxwidget_headerlogin_header .oxwidget_headerlogin_title1{padding:0;margin:0;width: 93px;height:30px;line-height:30px;box-sizing: border-box;padding-left:10px;font-size:14px;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;color:#999999;background-image:url('../img/down-gray-arrow.png');background-repeat:no-repeat;background-position: calc(100% - 8px) center;display:block;}
#oxwidget_headerlogin .oxwidget_headerlogin_header .oxwidget_headerlogin_title1.large{width:101px;}

#oxwidget_headerlogin.hover .oxwidget_headerlogin_header .oxwidget_headerlogin_title1{background-image:url('../img/down-blue-arrow.png');color:red;}
/*
#oxwidget_headerlogin .oxwidget_headerlogin_header:after
{
content:' \25BE';
color:#E7E7E7;
}
*/
#oxwidget_headerlogin .oxwidget_headerlogin_popup{display:none;position:absolute;left:0;top:40px;width:283px;right:auto;box-shadow:1px 3px 2px rgba(0,0,0,0.3);border:1px solid #dddddd;background-color:white;z-index:10;padding:10px;box-sizing: border-box;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup > table{width:100%;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup.loggedin,
#oxwidget_headerlogin.loggedin .oxwidget_headerlogin_popup{width:420px;}
/*#oxwidget_headerlogin:hover .oxwidget_headerlogin_popup,*/
#oxwidget_headerlogin.hover .oxwidget_headerlogin_popup{display:block;
}
#oxwidget_headerlogin .oxwidget_headerlogin_popup a{display:block;color:#333333;white-space: nowrap;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_picbox{width:120px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_picbox .oxwidget_headerlogin_pic{margin:auto;width:100px;height:120px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_picbox .oxwidget_headerlogin_name{color:red;font-weight:bold;font-size:14px;margin-left:10px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu{}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu ul{margin:0;padding:0;padding-left:10px;margin-right:-10px;margin-bottom:10px;width:270px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup.hasml .oxwidget_headerlogin_menu ul{width:270px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu ul li{list-style:none;padding:0;margin:0;vertical-align:middle;padding-left:10px;padding-right:10px;padding-bottom:3px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu ul li:hover{border-bottom:3px solid red;color:red;font-weight:bold;padding-bottom:0;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu ul li a{line-height:25px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu ul li:hover a{color:red;font-weight:bold;text-decoration:none;white-space: nowrap;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_menu a.normalButton{float:none;width:120px;margin:auto;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform ul input[type="password"],
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform ul input[type="text"]{width:180px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform ul label{width:80px;text-align:left;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform ul li.seperatororange{background-color:red;height:4px;line-height:4px;min-height:4px;margin:0;padding:0;margin-bottom:5px;margin-top:5px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform ul{margin-bottom:8px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform a{color:red;font-size:12px;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .oxwidget_headerlogin_loginform a:hover{text-decoration:none;color:red;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .form .submitButton,
#oxwidget_headerlogin .oxwidget_headerlogin_popup .form .normalButton,
#oxwidget_headerlogin .oxwidget_headerlogin_popup .form .normalButton:hover,
#oxwidget_headerlogin .oxwidget_headerlogin_popup .form button{width:100%;}
#oxwidget_headerlogin .oxwidget_headerlogin_popup .form li.formSubmit{padding:0;padding-top:5px;text-align:left;margin-top: 4px;}
